svg{
    padding: 20px;
}

/*This controls the Chart Title.*/
text .title{
    font-size: 16px;
}

/*This controls the axis text size.*/
.axis text{
    font-size: 8px;
}

rect{
    fill: navy;
}

.bar:hover{
    fill: whitesmoke;
    border: 1px solid red;
}

.headline{
    font-size: 32px;
}

.headline1{
    font-size: 16px;
}

#tooltip{
    border: 1px solid silver;
    background-color: whitesmoke;
    box-shadow:10px 10px 10px 5px whitesmoke; 
    border-radius: 5px;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    padding: 10px;
    text-align: center;
}

#demo{
    margin-left: auto;
    margin-right: auto;
}